<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
        <a class="brand" href="/" style="padding:5px 20px">SKYNET</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="members active"><a href="#members"><span>Members </span></a></li>
                    <li class="tools"><a href="#tools"><span>Tool Library </span></a></li>
                    <li class="logs"><a href="#logs"><span>Logs</span></a></li>
                    <li class="doors"><a href="#doors"><span>Door Access </span></a></li>
                </ul>
                
                <ul class="nav pull-right">
                      <li><a href="#logout">Logout</a></li>
                </ul>
           </div>
        </div>
    </div>
</div>


