
<div id="page" class="container">

<div class="row-fluid">
<form class="form-signin resetPasswordForm">
    <h2 class="form-signin-heading">Password Reset</h2>
    <div class="control-group">
        <input type="password" class="input-block-level current_password" placeholder="Current password">
    </div>
    <div class="control-group">
        <input type="password" class="input-block-level new_password" placeholder="New password">
    </div>
    <div class="control-group">
        <input type="password" class="input-block-level confirm_password" placeholder="Confirm password">
    </div>
    <button class="btn btn-large btn-info resetPasswordButton" type="button">Reset</button>
</form>
</div>
</div>
